In [4]:
import pandas as pd
print

In [5]:
data = pd.read_csv("mymoviedb.csv", lineterminator='\n')
print(data.head())
print(data.columns)
print(data.shape)

  Release_Date                    Title  \
0   2021-12-15  Spider-Man: No Way Home
1   2022-03-01               The Batman
2   2022-02-25                  No Exit
3   2021-11-24                  Encanto
4   2021-12-22           The King's Man

                                            Overview  Popularity  Vote_Count  \
0  Peter Parker is unmasked and no longer able to...    5083.954        8940
1  In his second year of fighting crime, Batman u...    3827.658        1151
2  Stranded at a rest stop in the mountains durin...    2618.087         122
3  The tale of an extraordinary family, the Madri...    2402.201        5076
4  As a collection of history's worst tyrants and...    1895.511        1793

   Vote_Average Original_Language                               Genre  \
0           8.3                en  Action, Adventure, Science Fiction
1           8.1                en            Crime, Mystery, Thriller
2           6.3                en                            Thriller
3           7.7                en  Animation, Comedy, Family, Fantasy
4           7.0                en    Action, Adventure, Thriller, War

                                          Poster_Url
0  https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1  https://image.tmdb.org/t/p/original/74xTEgt7R3...
2  https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3  https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4  https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...
Index(['Release_Date', 'Title', 'Overview', 'Popularity', 'Vote_Count',
       'Vote_Average', 'Original_Language', 'Genre', 'Poster_Url'],
      dtype='object')
(9827, 9)

In [6]:
data.info

<bound method DataFrame.info of      Release_Date                                 Title  \
0      2021-12-15               Spider-Man: No Way Home
1      2022-03-01                            The Batman
2      2022-02-25                               No Exit
3      2021-11-24                               Encanto
4      2021-12-22                        The King's Man
...           ...                                   ...
9822   1973-10-15                              Badlands
9823   2020-10-01                      Violent Delights
9824   2016-05-06                          The Offering
9825   2021-03-31  The United States vs. Billie Holiday
9826   1984-09-23                               Threads

                                               Overview  Popularity  \
0     Peter Parker is unmasked and no longer able to...    5083.954
1     In his second year of fighting crime, Batman u...    3827.658
2     Stranded at a rest stop in the mountains durin...    2618.087
3     The tale of an extraordinary family, the Madri...    2402.201
4     As a collection of history's worst tyrants and...    1895.511
...                                                 ...         ...
9822  A dramatization of the Starkweather-Fugate kil...      13.357
9823  A female vampire falls in love with a man she ...      13.356
9824  When young and successful reporter Jamie finds...      13.355
9825  Billie Holiday spent much of her career being ...      13.354
9826  Documentary style account of a nuclear holocau...      13.354

      Vote_Count  Vote_Average Original_Language  \
0           8940           8.3                en
1           1151           8.1                en
2            122           6.3                en
3           5076           7.7                en
4           1793           7.0                en
...          ...           ...               ...
9822         896           7.6                en
9823           8           3.5                es
9824          94           5.0                en
9825         152           6.7                en
9826         186           7.8                en

                                   Genre  \
0     Action, Adventure, Science Fiction
1               Crime, Mystery, Thriller
2                               Thriller
3     Animation, Comedy, Family, Fantasy
4       Action, Adventure, Thriller, War
...                                  ...
9822                        Drama, Crime
9823                              Horror
9824           Mystery, Thriller, Horror
9825               Music, Drama, History
9826         War, Drama, Science Fiction

                                             Poster_Url
0     https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1     https://image.tmdb.org/t/p/original/74xTEgt7R3...
2     https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3     https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4     https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...
...                                                 ...
9822  https://image.tmdb.org/t/p/original/z81rBzHNgi...
9823  https://image.tmdb.org/t/p/original/4b6HY7rud6...
9824  https://image.tmdb.org/t/p/original/h4uMM1wOhz...
9825  https://image.tmdb.org/t/p/original/vEzkxuE2sJ...
9826  https://image.tmdb.org/t/p/original/lBhU4U9Eeh...

[9827 rows x 9 columns]>

In [7]:
data['Genre'].head()

0    Action, Adventure, Science Fiction
1              Crime, Mystery, Thriller
2                              Thriller
3    Animation, Comedy, Family, Fantasy
4      Action, Adventure, Thriller, War
Name: Genre, dtype: object

In [8]:
data.duplicated().sum()

np.int64(0)

In [9]:
# data['Genre'].value_counts()
data['Genre'].value_counts().head(20)

Genre
Drama                      466
Comedy                     403
Drama, Romance             248
Horror                     238
Horror, Thriller           199
Comedy, Romance            196
Documentary                139
Comedy, Drama              137
Action, Thriller           125
Comedy, Drama, Romance     107
Thriller                   105
Action                      99
Drama, Thriller             94
Drama, History              94
Romance, Drama              87
Animation, Family           78
Crime, Drama, Thriller      74
Action, Crime, Thriller     69
Romance, Comedy             68
Drama, Comedy               65
Name: count, dtype: int64

In [10]:
data.describe()

        Popularity    Vote_Count  Vote_Average
count  9827.000000   9827.000000   9827.000000
mean     40.326088   1392.805536      6.439534
std     108.873998   2611.206907      1.129759
min      13.354000      0.000000      0.000000
25%      16.128500    146.000000      5.900000
50%      21.199000    444.000000      6.500000
75%      35.191500   1376.000000      7.100000
max    5083.954000  31077.000000     10.000000

In [11]:
data.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021-12-15,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022-03-01,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2022-02-25,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,2021-11-24,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,2021-12-22,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

In [12]:
data['Release_Date'] = pd.to_datetime(data['Release_Date'])
print(data['Release_Date'].dtype)

datetime64[ns]

In [13]:
data['Release_Date'] = data['Release_Date'].dt.year
print(data['Release_Date'].dtype)

int32

In [14]:
data.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2022,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,2021,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,2021,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

dropping columns

In [15]:
cols = ['Overview','Original_Language','Poster_Url']
data.drop(cols,axis=1 ,inplace=True)
print(data.columns)

Index(['Release_Date', 'Title', 'Popularity', 'Vote_Count', 'Vote_Average',
       'Genre'],
      dtype='object')

In [16]:
data.head()

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940,8.3,"Action, Adventure, Science Fiction"
1,2022,The Batman,3827.658,1151,8.1,"Crime, Mystery, Thriller"
2,2022,No Exit,2618.087,122,6.3,Thriller
3,2021,Encanto,2402.201,5076,7.7,"Animation, Comedy, Family, Fantasy"
4,2021,The King's Man,1895.511,1793,7.0,"Action, Adventure, Thriller, War"

In [17]:
def catogrize_col(data, col, labels):
    edges = [
        data[col].describe()['min'],
        data[col].describe()['25%'],
        data[col].describe()['50%'],
        data[col].describe()['75%'],
        data[col].describe()['max']
    ]
    
    data[col] = pd.cut(data[col], edges, labels=labels, duplicates='drop')
    return data

In [18]:
lables = ['not-popular','bellow-average','average','popular']
catogrize_col(data, 'Vote_Average', lables)
data['Vote_Average'].unique()

['popular', 'bellow-average', 'average', 'not-popular', NaN]
Categories (4, object): ['not-popular' < 'bellow-average' < 'average' < 'popular']

In [19]:
data.head()

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940,popular,"Action, Adventure, Science Fiction"
1,2022,The Batman,3827.658,1151,popular,"Crime, Mystery, Thriller"
2,2022,No Exit,2618.087,122,bellow-average,Thriller
3,2021,Encanto,2402.201,5076,popular,"Animation, Comedy, Family, Fantasy"
4,2021,The King's Man,1895.511,1793,average,"Action, Adventure, Thriller, War"

In [20]:
data['Vote_Average'].value_counts()

Vote_Average
not-popular       2467
popular           2450
average           2412
bellow-average    2398
Name: count, dtype: int64

In [21]:
data.dropna(inplace=True)
data.isna().sum()

Release_Date    0
Title           0
Popularity      0
Vote_Count      0
Vote_Average    0
Genre           0
dtype: int64